{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Criar Conta
{% endblock %}

{% block content %}

    <header class="min-h-screen bg-black bg-opacity-75 bg-blend-overlay showcase border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat"  style="background-image: url('{% static 'images/background_netflix.jpg' %}');">
        <div class="border-2 border-white bg-red-500 bg-opacity-20 my-2 rounded-lg z-10 h-full py-32 md:py-20 px-20 text-gray-100 text-center flex items-center flex-col">
            <form method="post">
               {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="decoration-2 font-bold underline underline-offset-8 decoration-gray-300/10 mb-4">Crie uma conta para continuar</legend>
                   {{ form|crispy }}
                </fieldset>
                <button class="bg-red-600 hover:bg-red-700 py-1 my-2 px-3 w-full text-white md:text-lg rounded-md shadow" type="submit">Criar Conta</button>
            </form>
        </div>
    </header>

    <footer class=" px-5 py-10 ">
        <ul class="flex justify-between items-center">

            <li>&copy; 2022</li>
            <li> Feito com Python (Django)</li>
            <li>Brian Costa</li>
        </ul>
    </footer>

{% endblock %}